In [1]:
import pandas as pn

In [2]:
column_names = ["vek_mother", "vek_embryo", "genetic_method", "f_donor", "examined_genes", "sex", "clinical_gravidity"]

In [3]:
data = pn.read_csv("transfery.csv", header = 10, names = column_names, low_memory=False)

In [4]:
data1  = data.drop(["vek_mother", "vek_embryo", "f_donor", "examined_genes", "sex", "clinical_gravidity"], axis = 'columns')

In [5]:
data1

     genetic_method
0             PGT-A
1             PGT-A
2               NaN
3             PGT-A
4             PGT-A
...             ...
997           PGT-A
998           PGT-A
999    Karyomapping
1000          PGT-A
1001            NaN

[1002 rows x 1 columns]

In [9]:
print(data1['genetic_method'].value_counts())

PGT-A           692
Karyomapping     65
VeriSeq          41
OneGene          20
PGT-SR           15
NICS              7
Acgh              3
DNAseq            1
Name: genetic_method, dtype: int64