In [1]:
import pandas as pn

In [2]:
column_names = ["vek_mother", "vek_embryo", "genetic_method", "f_donor", "examined_genes", "sex", "clinical_gravidity"]

In [3]:
data = pn.read_csv("transfery.csv", header = 10, names = column_names, low_memory=False)

In [5]:
data  = data.drop(["vek_mother", "genetic_method", "examined_genes", "sex", "clinical_gravidity"], axis = 'columns')

In [6]:
data

     vek_embryo  f_donor
0           NaN      1.0
1            30      NaN
2            31      NaN
3            27      1.0
4            36      NaN
...         ...      ...
997         NaN      1.0
998          45      NaN
999          34      NaN
1000         30      NaN
1001         30      NaN

[1002 rows x 2 columns]

In [19]:
table = pn.pivot_table(data, values='f_donor', index=['f_donor'],
                       columns=['vek_embryo'], aggfunc="count")

KeyError: False

In [18]:
table

Empty DataFrame
Columns: []
Index: [1.0]