In [1]:
import pandas as pn

In [2]:
column_names = ["vek_mother", "vek_embryo", "genetic_method", "f_donor", "examined_genes", "sex", "clinical_gravidity"]

In [3]:
data = pn.read_csv("transfery.csv", header = 10, names = column_names, low_memory=False)

In [29]:
data1  = data.drop(["vek_mother", "vek_embryo", "genetic_method", "f_donor", "examined_genes"], axis = 'columns')

In [20]:
data1.dropna()

     f_donor sex
0        1.0  XY
5        1.0  XX
9        1.0  XY
16       1.0  XX
21       1.0  XX
..       ...  ..
972      1.0  XY
975      1.0  XX
982      1.0  XY
996      1.0  XX
997      1.0  XY

[144 rows x 2 columns]

In [23]:
data2=data1[(data1['f_donor']=="") & (data1['sex']=="XX")].count()
data2=data1[(data1['f_donor']=="") & (data1['sex']=="XY")].count()

In [24]:
print(data2)

f_donor    0
sex        0
dtype: int64